* text=auto

/.github/** export-ignore
/tests/** export-ignore
/phpunit.xml* export-ignore
/Dockerfile export-ignore
/compose.yaml export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/phpcs.xml export-ignore